pandas
langchain
python-dotenv
langchain-community
ipykernel
bs4
requests
arxiv
PyMuPDF
langchain-Text-splitters
langchain-openai
sentence-transformers
chromadb
sentence_transformers
faiss-cpu
Ollama-API
tensorflow
langchain_chroma
langchain-openai
beautifulsoup4
streamlit
langchain_groq
fastapi
uvicorn
langserve[all]
langchain-huggingface>=0.1.0

streamlit==1.39.0
python-dotenv==1.0.1
langchain==0.3.7
langchain-core==0.3.12
langchain-community==0.3.7
langchain-groq==0.1.4
langchain-huggingface==0.1.0
sentence-transformers==3.1.1
faiss-cpu==1.8.0.post1
huggingface-hub==0.25.2
pandas==2.2.3
PyMuPDF==1.24.10
requests==2.32.3
beautifulsoup4==4.12.3
